language: python

python:
  - 3.5
  - 3.6
  - 3.7
  - 3.8

before_install:
  - python --version
  - pip install -U pip
  - pip install -U pytest
  - pip install -U rdflib click pytest
  - pip install -U codecov

install:
  - pip install ".[test]" . # install package + test dependencies
script: pytest # run tests
after_success:
  - codecov # submit coverage
